<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <%- include('navbar', {links: links}) %>

    <h1 class="indexTitle"><%=title%></h1>

    <div class="linkList">
      <a class="links" href="<%=links[1].href%>"> View products</a>

      <a class="links" href="<%=links[2].href%>"> View categories</a>
    </div>
  </body>
</html>
