<head>
    <link rel="stylesheet" href="/styles.css">
  </head>
  
  <html>
    <body>
      <%- include('navbar', {links: links}) %>
  
      <ul>
        <!-- <% items.forEach((item) => { %>
            <li><%= user %></li>
            <img
            src={item.image}
            alt={card.name}
            
          />
          <p>
            <b>{card.name}</b>
          </p> -->

        <% }); %>
      </ul>
  
  
    </body>
  </html>